/* Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --checkbox-size: 25px;
    --checkbox-size-checked: 20px;
}


body {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header Section CSS */

header {
    text-align: center;
}

.header_logo {
    width: 70%;
    margin: 30px auto;
    opacity: 0.5;
}

/* End of Header Section */


/* Styles Flex Column whit form */

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px rgb(94, 94, 94);
    margin: 10px;
}

/* Styling  wrapper for forms on page */
.form-wrapper {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
}

form {
    background-color: rgb(252, 251, 250);
    padding: 10px;
    border-radius: 5px;
}

.input-wrapper {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgb(211, 210, 210);
    display: flex;
}

.input-wrapper label {
    text-align: center;
    padding: 5px 12px;
    border-right: 1px solid rgb(211, 210, 210);
}

i {
    color: rgb(211, 210, 210);
    font-size: 18px;
    padding: 5px 0;
}


.input-wrapper input,
select {
    border: none;
    margin-left: 10px;
    color: rgb(119, 119, 119);
    font-size: 18px;
    width: 80%;
    padding: 5px 5px;
}

input::placeholder,
select,
select:required:invalid {
    color: rgb(211, 210, 210);
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black
}

/* Styling custom checkbox change of tick sign to squere */
.checkbox-wrapper {
    width: 90%;
    margin: 10px auto;
}

input[type^="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    border: 1px solid gray;
    border-radius: 2px;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    background: rgb(39, 207, 39);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}